
/* About Section SCSS */

#about {
    color: _palette(fg);
    background: _palette(banner4);
    padding: 10% 15%;
    text-align: left;

    .container-fluid {
        padding: 0;
    }

    .col-md-6 {
        padding: 0;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 3%;
    }

    h3 {
        font-size: 0.9rem;
        font-weight: 100;
        padding: 4px 0;
    }
    
    hr {
        margin: 2% 0 4%;
        width: 10%;
        border-bottom: solid 3px _palette(accent7);
    }

    .about-details {
        padding: 0;
    }

    .subtitle {
        font-size: 1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: _palette(accent7);
    }

    .title {
        font-size: 2.1rem;
        line-height: 1;
        letter-spacing: 2px;
    }

    .square-avatar {
        width: 90%;
        border-radius: 5px;
        border: 8px _palette(banner4) solid;
        box-shadow: 0px 0px 10px #232323;
    }

    .round-avatar {
        display: none;
        width: 20%;
        margin: 0px auto 3%;
        border: solid 0.4rem #283832;
        border-radius: 100%;
        box-shadow: 0 0 10px #232323;
    }

    .profile {
        border: 2px solid _palette(accent7);
        border-radius: 5px;
        margin: 0.1% 0 5%;
        padding: 3% 1% 3% 4%;
    }

    .cv-button {
        background: _palette(blk);
        padding: 3% 5%;
        text-align: center;
        color: _palette(fg);
        letter-spacing: 3px;
        line-height: 1;
        text-transform: uppercase;
        transition: 0.3s;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;

        &:hover {
            border: 1px solid _palette(accent7);
            color: _palette(accent7);
        }

    }

    /* About Section Media Breakpoints */
    @include breakpoint(large) {

        hr {
            width: 8%;
            border-bottom: solid 2px _palette(accent7);
        }

        .subtitle {
            font-size: 0.9rem;
        }

        .title {
            font-size: 1.9rem;
        }

        .cv-button {
            font-size: 0.7rem;
            padding: 3% 4%;
        }
    }

    @include breakpoint(medium) {
        
        text-align: center;

        p {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        hr {
            margin-left: auto;
            margin-right: auto;
        }

        .square-avatar {
            display: none;
        }

        .round-avatar {
            display: block;
        }

        .profile {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        .profile-column {
            padding: 0;
        }

        .cv-button {
            font-size: 0.8rem;
        }
    }

    @include breakpoint(small1) {

        p {
            width: 100%;
        }

        .subtitle {
            font-size: 0.8rem;
        }

        .profile {
            width: 50%;
            padding: 4% 5%;
        }

        .cv-button {
            font-size: 0.7rem;
        }
    }

    @include breakpoint(small2) {

        .subtitle {
            font-size: 0.7rem;
        }

        .title {
            font-size: 1.7rem;
        }

        .round-avatar {
            width: 30%;
        }

        .profile {
            width: 60%;
        }

        .cv-button {
            font-size: 0.65rem;
        }
    }

    @include breakpoint(xsmall) {



        .round-avatar {
            width: 40%;
        }
        .profile {
            width: 80%;
        }
    }
}
