
/* Banner SCSS */

#banner {
	@include vendor('align-items', 'center');
	@include vendor('background-image', 'url("../images/banner.png")');
	@include vendor('display', 'flex');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0 !important;
	cursor: default;
	padding: 15%;
	position: relative;

	&:after {
		@include vendor('transition', 'opacity #{_duration(banner)} ease');
		@include vendor('transition-delay', '0.75s');
		@include vendor('pointer-events', 'none');
		background-color: _palette(banner7);
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.5;
		z-index: 1;
	}

	.inner {
		@include vendor('transition', (
			'opacity 1.5s ease',
			'transform 0.5s ease-out',
			'filter 0.5s ease',
			'-webkit-filter 0.5s ease'
		));
		width: 100%;
		z-index: 2;
	}

	.greeting {
		font-size: 1rem;
		font-family: _font(code);
		color: _palette(accent4);
		line-height: 1;
		margin-bottom: 3%;
	}

	.name {
		font-size: 6rem;
		line-height: 1;
		margin-bottom: 2%;
	}

	.pitch {
		font-size: 6rem;
		line-height: 1;
		margin-bottom: 5%;
		opacity: .5;
	}

	.intro {
		font-size: 1.1rem;
		line-height: 1;
		margin-bottom: 5%;
		opacity: 0.7;
	}

	.banner-button {
		@include vendor('align-items', 'center');
		font-size: 1rem;
		font-weight: 900;
		border: 2px solid _palette(fg);
		border-radius: 0;
		color: _palette(fg);
		letter-spacing: .5rem;
		text-transform: uppercase;

		&:hover {
			background: _palette(accent7);
			color: _palette(fg) !important; 
			border-color: _palette(accent7) !important; 
		}
	}

	.icon {
		font-size: 1rem;
	}

	.body.is-loading & {
		&:after {
			opacity: 1.0;
		}

		> .inner {
			@include vendor('filter', 'blur(0.125em)');
			@include vendor('transform', 'translateX(-0.5em)');
			opacity: 0;
		}
	}

	/* Banner Media Breakpoints */
	@include breakpoint(small1) {
		@include vendor('background-image', 'url("../images/banner-sm.png")');
		background-attachment: scroll;
		background-size: contain;
		text-align: center;

		.greeting, .intro {
			font-size: 1.1rem;
		}

		.banner-button {
			margin-top: 12%;
			font-size: 0.8rem;
		}

		.icon {
			display: none;
		}
	}

	@include breakpoint(small2) {
		@include vendor('background-image', 'url("../images/banner-sm.png")');
		background-attachment: scroll;
		background-size: contain;
		padding: 20% 10%;
		
		.name, .pitch {
			font-size: 4.5rem;
		}

		.greeting, .intro {
			font-size: 1rem;
		}

		.banner-button {
			font-size: 0.7rem;
		}
		
		.icon {
			font-size: .5rem;
		}
	}

	@include breakpoint(xsmall) {
		@include vendor('background-image', 'url("../images/banner-xs.png")');
		background-attachment: scroll;
		background-size: contain;
		padding: 30% 15%;

		.name, .pitch {
			font-size: 4rem;
		}

		.greeting, .intro {
			font-size: 1rem;
		}
	}
}