
/* Header SCSS */

#header {
	@include vendor('transition', 'opacity #{_duration(banner)} ease-in-out');
	@include vendor('transition-duration', '0.2s');
	@include vendor('transition-delay', '0.75s');

	/* Navbar */

	// Custom Brand
	.logo-default {
		width: 90px;
		height: 70px;
		transition: 0.5s ease-in-out;
		transform: rotate(-360deg);

		&:hover {
			cursor: pointer;
		}
	}

	.logo-sticky {
		padding: 0.5rem 0 0;
		width: 65px;
		height: 60px;
		transition: 0.8s ease-in-out;
		transform: rotate(360deg);

		&:hover {
			cursor: pointer;
		}
	}

	// Custom Bar
	.default, .sticky {
		font-family: _font(code);
		letter-spacing: 1px;
		transition: 0.3s ease-in-out;
	}

	.default {
		padding: 2% 5%;
		background: transparent;
	}

	.sticky {
		padding: 0 5%;
		background: _palette(blk);
		opacity: 0.8;
	}

	// Custom Toggler
	.hamburger {
		color: _palette(accent7);
		border: none;
	}

	// Custom Nav Links
	.section-link {
		font-size: 1rem;
		color: _palette(accent7);
		margin: 0 15px;
	}

	.resume-link {
		font-size: 1rem;
		color:  _palette(accent7);
		margin: 0 10px;
		border: 1.5px solid  _palette(accent7);
		border-radius: 5px;
		padding: 5px 15px;
		transition: 0.3s;
		
		&:hover {
			color:  _palette(accent7);
			background: _palette(banner6);
		}
	}

	/* Social Icons */
	ul {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 0;
		margin-bottom: 50%;
	}

	.header-social-icons {
		position: fixed;
		bottom: 0;
		width: 5%;
		height: 45%;
		background-color: transparent;
		z-index: 2;
	}

	.vertical-line { // aboslute to the last social icon in the list
		position: absolute;
		top: 100%;
		right: 50%;
		width: 1px;
		height: 500%;
		background-color: _palette(fg-medium);
		opacity: 0.6;
	}

	/* Other Overrides on Bootstrap Navbar SCSS */
	.nav-link.section-link {
		&:hover {
			color: _palette(fg) !important;
		}
	}

	.navbar-toggler, .navbar-toggler-icon {
		border: none;
	}
	
	.navbar-toggler:focus,
	.navbar-toggler:active,
	.navbar-toggler-icon:focus {
		outline: none;
		box-shadow: none;
	}
	
	.navbar-toggler:hover,
	.navbar-toggler-icon:hover {
		transition: .6s;
		transform: rotate(90deg);
	}

	/* Forty SCSS */
	&.reveal {
		@include vendor('animation', 'reveal-header 0.35s ease');
	}

	.body.is-loading & {
		&.alt {
			opacity: 0;
		}
	}

	/* Header Media Breakpoints */
	@include breakpoint(medium) {
		.logo-sticky {
			display: none !important;
		}

		.sticky {
			padding-top: 3%;
			background: transparent;
			opacity: 1;
		}

		.section-link, .resume-link {
			background: black;
			text-align: center;
			padding: 1.2rem;
			margin: 0;
			border: none;
			color: _palette(fg);
			font-size: 1rem;

			&:hover {
				color: _palette(accent4);
				background: _palette(gr);
			}
		}

		ul {
			z-index: 3;
		}

		.header-social-icons {
			width: 7%;
		}

		.nav-link.section-link {
			&:hover {
				color: _palette(accent4) !important;
			}
		}
	}

	@include breakpoint(small1) {

		.header-social-icons {
			width: 8%;
			height: 50%;
		}
	}

	@include breakpoint(small2) {
		.logo-default {
			width: 75px;
			height: 60px;
		}

		.section-link, .resume-link {
			font-size: 1rem;
		}

		.header-social-icons {
			display: none;
		}
	}

	@include breakpoint(xsmall) {
		.custom-navbar {
			padding-top: 4%;
		}
		.section-link, .resume-link {
			font-size: .9rem;
		}
	}
}

