
/* Work Section SCSS */

#work {
    padding: 8% 15% 5%;
    background-image: url("../images/project-bg.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px _palette(moss) inset;
    text-align: center;
    cursor: default;

    .container-fluid {
        padding: 0;
    }

    .row {
        margin-bottom: 12%;
    }

    a {
        color: _palette(accent4);

        &:hover {
            text-decoration: underline solid _palette(accent4);
            color: _palette(accent4);
        }
    }

    ul {
        padding-left: 0;
    }

    li {
        display: inline;
        color: _palette(accent7);
        font-family: _font(code);
        font-weight: 300;
        font-size: 0.8rem;

        &.right {
            padding-left: 1.5rem;
        }
        
        &.left {
            padding: 0 1.5rem  0 0;
        }

        &.top {
            padding: 1% 1.5%;
            margin: 0 1% 0;
            background: _palette(accent4);
            border-radius: 7px;
            opacity: 0.5;
            color: _palette(banner6);
            font-weight: 400;
        }
    }

    .title {
        font-size: 2rem;
        color: _palette(accent7);
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 2px;
    }

    .vertical-line {
        font-size: 2.5rem;
        margin-bottom: 4%;
        color: _palette(accent7);
    }

    .description {
        &.right {
            position: absolute;
            width: 35%;
            text-align: right;
            right: 15%;
        }

        &.left {
            position: absolute;
            width: 35%;
            text-align: left;
            left: 15%;
        }

        &.top {
            position: relative;
            text-align: center;
            width: 80%;
            margin: 0 auto 4%;
            display: none;
        }

        &:hover {
            cursor: default;
        }
    }

    .category {
        font-family: _font(code);
        color: _palette(project1);
        font-weight: 200;
        font-size: 0.9rem;
        line-height: 1;
    }

    .name {
        font-size: 2.2rem;
        margin-bottom: 0.3rem;
        letter-spacing: 2px;
    }

    .details {
        background-color: _palette(blk);
        font-size: 0.95rem;
        margin-bottom: 4%;
        border-radius: 3px;
        box-shadow: 0 0 5px _palette(moss);
        transition: 0.3s ease-in-out;

        &.right {
            padding: 3% 3% 3% 1%;
        }

        &.left {
            padding: 3% 1% 3% 3%;
        }

        &.top {
            padding: 3%;
            margin-bottom: 2%;
            border-radius: 5px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .other-title {
        margin-top: 0;
        font-size: 1.8rem;
        color: _palette(accent7);
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        line-height: 1;
    }

    .other-vertical-line {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        color: _palette(accent7);
        line-height: 1;
    }

    .card {
        background: _palette(banner6);
        border-radius: 5px;
        box-shadow: 0 0px 10px _palette(moss);
        text-align: left;
        margin-bottom: 2rem;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .card-text {
        font-size: 0.95rem;
        margin-bottom: 5px;
    }

    .card-tech {
        font-family: _font(code);
        color: _palette(accent7);
        display: inline;
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 0.8rem;
    }

    .card-icon {
        float: right;
    }

    .gh {
        font-size: 1.2rem;
        color: _palette(fg);
        transition: 0.3s ease-in;
        opacity: 0.6;

        &:hover {
            opacity: 1;
            color: _palette(fg) !important;
            text-decoration: none;
        }
    }

    /* Work Section Media Breakpoints */
    @include breakpoint(medium) {

        li, .card-tech {
            font-size: 0.7rem;
        }

        .title {
            font-size: 1.8rem;
        }

        .vertical-line {
            font-size: 2rem;
        }

        .description {
            &.right {
                display: none;
            }
    
            &.left {
                display: none;
            }
    
            &.top {
                display: block;
            }
        }

        .details, .card-text {
            font-size: 0.9rem;
        }

        .other-title {
            font-size: 1.6rem;
        }

        .other-vertical-line {
            font-size: 1.8rem;
        }

    }

    @include breakpoint(small2) {
        
        li, .card-tech {
            font-size: 0.6rem;
        }

        .title {
            font-size: 1.5rem;
        }

        .vertical-line {
            font-size: 1.8rem;
        }

        .category {
            font-size: 0.8rem;
        }
    
        .name {
            font-size: 1.9rem;
        }

        .details {
            &.top {
                border-radius: 10px;
            }
        }        
        
        .other-title {
            font-size: 1.3rem;
        }

        .other-vertical-line {
            font-size: 1.6rem;
        }

        .card-text {
            font-size: 0.8rem;
        }

    }

    @include breakpoint(xsmall) {
        padding: 8% 5% 5%;

        .title {
            font-size: 1.4rem;
        }

        .vertical-line {
            font-size: 1.5rem;
        }

        .description {
            &.top {
                width: 90%;
            }
        }

        .name {
            font-size: 1.8rem;
        }

        .other-title {
            font-size: 1.2rem;
        }

        .other-vertical-line {
            font-size: 1.3rem;
        }

        .card {
            width: 70%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
